In [1]:
import pandas
import numpy as np
import seatingchart as sc
filename = 'people6.xlsx'

In [2]:
peopledf = pandas.read_excel(filename)

In [4]:
#peopledf

In [3]:
#Read in all the names
allnames = set()
for column in peopledf[1:]:
    for rownum in peopledf.index:
        name = peopledf.iloc[rownum][column]
        #print rownum, column, name
        if name is np.nan:
            continue
        allnames.add(name)
#print allnames

In [4]:
guestlist = sc.GuestList(guestnames=allnames)

In [8]:
#Find all the friends
for rownum in peopledf.index:
    friends = [str(name) for name in peopledf.iloc[rownum].values if name is not np.nan]
    [guestlist.guestdict[friend].set_friendnames(friends) for friend in friends]
#guestlist.print_friendlist()

In [20]:
ll = [[1,2,3],[4,5,6]]

In [21]:
lldf = pandas.DataFrame(ll)

In [13]:
lldf

   0  1  2
0  1  2  3
1  4  5  6

In [22]:
lldf.index = ["table{0}".format(i) for i in lldf.index]

In [23]:
lldf

        0  1  2
table0  1  2  3
table1  4  5  6